body{
    margin:0;
  }
  
.container{
    width: 100vw;
    height: 100vh;
    font-family: 'Quick-sand', san-sarif;
    font-size: 20px;
    font-weight: bold;
    
  /*  Display  */
    display: grid;
  /*   Rows & Columns: 2 r & 4 columns  */
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 50px 1fr;
    gap: 10px;

    padding: 10px;
    box-sizing: border-box;

    /* Header Css */
   > .header{
    padding: 10px;
    border: 1px solid black;
    grid-column-start:1;
    grid-column-end: 4;
   }

   /* SideBar Css */

   > .l-sidebar{
    padding: 10px;
    border: 1px solid black;
    grid-column-start: 1;
    grid-column-end: 2;
   }


   > .content{
    padding:10px;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;


    > .parent{
        width: 100%;
        height: 100%;
        font-family: 'Quick-sand', san-sarif;
        font-size: 20px;
        font-weight: bold;

        


        display: grid;
        /* Rows & Columns: 3r & 3 columns */
        grid-template-columns: 2fr 2fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;

        padding:10px;
        box-sizing: border-box;

        > div {
            border: 1px solid black;
            padding:10px;
        }

        > .content-1, .content-2, .content-3{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        > .content-4, .content-5{
            grid-column-start:3;
            grid-column-end:5;
        }

        > .content-4{
            grid-row-start: 1;
            grid-row-end: span 2;
        }
    }

   }
  }
 